* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Questrial", sans-serif;
  background-color: #0f1724;
}

html {
  scroll-behavior: smooth;
}

header {
  width: 100%;
  /* min-height: 5rem; */
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: sticky;
  top: 0;
  z-index: 9;
}
nav {
  width: 60%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  /* border: 1px solid white; */
}

.im-portafolio > a {
  font-size: 2rem;
  font-weight: 500;
  color: white;
  text-decoration: none;
}

.secciones {
  display: flex;
}
.secciones a {
  margin: 1rem;
  color: #fff;
  text-decoration: none;
  border-bottom: 2px solid transparent;
  padding: 8px 0;
  text-align: center;
  display: inline-block;
}

.secciones a:hover {
  border-bottom: 2px solid #8c61d5;
}

.redes {
  display: flex;
  gap: 10px;
}

.icono-redes {
  color: #fff;
  font-size: 24px;
  transition: color 0.2s linear;
}

.icono-redes:hover {
  color: #4d4d4f;
}

main {
  width: 100%;
}

.circulo-grande {
  position: absolute;
  right: 10%;
  top: 100px;
  height: 400px;
  width: 400px;
  border-radius: 50%;
  border: 2px solid #8c61d5;
  background-color: transparent;
}

.presentacion-personal {
  /* border: 1px solid white; */
  width: 60%;
  min-height: calc(80vh - 100px);
  margin-top: 3rem;
  margin-bottom: 3rem;
  display: flex;
  align-items: center;
  margin: 20px auto;
  position: relative;
  gap: 20px;
}

.nombre-info {
  /* border: 1px solid rgb(197, 9, 9); */
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}
.hello {
  background-color: transparent;
  font-size: 2.5rem;
  position: relative;
  width: fit-content;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: -moz-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: -o-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: linear-gradient(to right, #8c61d5, #19a8c8);
}
.frontend {
  background-color: transparent;
  font-size: 3rem;
  color: white;
  position: relative;
  width: fit-content;
}
.extra-info {
  background-color: transparent;
  color: gray;
  position: relative;
  width: fit-content;
}

.btn-gradiente {
  background: linear-gradient(to right, #8c61d5, #19a8c8);
  box-shadow: 0 4px 12px 2px #8b61d550;
}

.btn-gradiente:hover {
  background: linear-gradient(to right, #9070c7, #47afc7);
}

.btn-contacto {
  background-color: transparent;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 1rem;
  width: 10rem;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 900;
  position: relative;
}

.container-fotos {
  width: 40%;
  margin-bottom: 200px;
}

.circulo-foto {
  border-radius: 50%;
  background-color: red;
  height: 200px;
  width: 200px;
  margin-left: auto;
  margin-right: 80px;
  overflow: hidden;
  border: 2px solid #47afc7;
  position: relative;
}

.circulo-foto > img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.projects {
  /* border: 1px solid rgb(97, 106, 192); */
  width: 60%;
  height: 100%;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin: 20px auto;
}
.projects > h3 {
  color: white;
  font-size: 3rem;
}
.projects > h4 {
  margin: 2rem 0;
  font-size: 2rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: -moz-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: -o-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: linear-gradient(to right, #8c61d5, #19a8c8);
}
.conteiner-card-proyectos {
  /* border: 1px solid rgb(123, 255, 0); */
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 1.5rem 0;
}
.card-proyecto {
  width: 48%;
  min-height: 25rem;
  border-radius: 10px;
  border: 1px solid #8c61d5;
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
/* .content-card-up {
  border: 1px solid darkred;
} */
.image-card {
  width: 100%;
  height: 10rem;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.image-card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.info-card h4 {
  font-size: 1.5rem;
  color: white;
}
.info-card p {
  margin-top: 1rem;
  color: gray;
}
.content-card-down {
  /* border: 1px solid darkred; */
  margin-top: 1rem;
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
}
.live-previw {
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border-radius: 30px;
  border: none;
  color: white;
  padding: 1rem;
  width: 50%;
  margin-top: 1rem;
  cursor: pointer;
  font-weight: 900;
}

.btn-github {
  border: 1px solid white;
}

.technologies {
  /* border: 1px solid rgb(97, 106, 192); */
  width: 60%;
  height: 100%;
  margin: 5rem auto;
}

.technologies > h3 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.container-tecnos {
  width: 100%;
  /* border: 1px solid white; */
  padding: 0.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
.element-tecno {
  width: 100%;
  /* border: 1px solid rgb(177, 40, 40); */
}
.name-level {
  width: 100%;
  /* border: 1px solid deepskyblue; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}
.name-level > p {
  font-size: 14px;
}
.barra {
  height: 13px;
  margin-right: 5rem;
  margin-top: 0.5rem;
  border-radius: 20px;
  background: linear-gradient(to right, #8c61d5, #19a8c8);
}
.barra-50 {
  width: 60%;
}

.info-nosotros {
  width: 60%;
  /* border: 1px solid wheat; */
  margin: 5rem auto;
}
.info-nosotros > h3 {
  color: white;
  font-size: 3rem;
  margin-bottom: 1.5rem;
}
.info-nosotros > P {
  color: gray;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}
.container-datos {
  /* border: 1px solid white; */
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.persona-cv {
  margin-top: 0.5rem;
  height: 4rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* border: 1px solid darkred; */
  gap: 0.5rem;
}
.persona-cv > h4 {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: -webkit-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: -moz-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: -o-linear-gradient(left, #8c61d5, #19a8c8);
  background-image: linear-gradient(to right, #8c61d5, #19a8c8);
}
.personal-redes {
  display: flex;
  gap: 1rem;
}

.personal-redes > a {
  text-decoration: none;
  color: white;
}
.personal-redes > a:hover {
  text-decoration: underline;
}
/* MEDIA */
@media (max-width: 374px) {
  header {
    position: static;
  }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .secciones a {
    font-size: 13.5px;
  }
  .presentacion-personal {
    /* border: 1px solid darkgreen; */
    width: 100%;
    height: 30rem;
    top: 3rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .nombre-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hello {
    font-size: 1.8rem;
  }
  .frontend {
    font-size: 1.5rem;
  }
  .extra-info {
    font-size: 1rem;
  }
  .circulo-grande {
    height: 250px;
    width: 250px;
    top: 13rem;
    right: 8rem;
  }
  .circulo-foto {
    top: 15rem;
    width: 180px;
    height: 180px;
    top: 0;
    left: 5rem;
  }
  .projects {
    width: 85%;
    margin-top: 3rem;
  }
  .projects h3 {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .projects h4 {
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-proyecto {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
  header {
    position: static;
  }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .secciones a {
    font-size: 13.5px;
  }
  .presentacion-personal {
    /* border: 1px solid darkgreen; */
    width: 100%;
    height: 30rem;
    top: 3rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .nombre-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hello {
    font-size: 1.8rem;
  }
  .frontend {
    font-size: 1.5rem;
  }
  .extra-info {
    font-size: 1rem;
  }
  .circulo-grande {
    height: 250px;
    width: 250px;
    top: 13rem;
    right: 12rem;
  }
  .circulo-foto {
    top: 15rem;
    width: 180px;
    height: 180px;
    top: 0;
    left: 5rem;
  }
  .projects {
    width: 80%;
    margin-top: 3rem;
  }
  .projects h3 {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .projects h4 {
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-proyecto {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 425px) and (max-width: 767px) {
  header {
    position: static;
  }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .secciones {
    width: 100%;
    justify-content: center;
  }
  .secciones a {
    font-size: 13.5px;
  }
  .presentacion-personal {
    /* border: 1px solid darkgreen; */
    width: 100%;
    height: 30rem;
    top: 3rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .nombre-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hello {
    font-size: 1.8rem;
  }
  .frontend {
    font-size: 1.5rem;
  }
  .extra-info {
    font-size: 1rem;
  }
  .circulo-grande {
    height: 250px;
    width: 250px;
    top: 13rem;
    right: 14rem;
  }
  .circulo-foto {
    top: 15rem;
    width: 180px;
    height: 180px;
    top: 0;
    left: 5rem;
  }
  .projects {
    width: 80%;
    margin-top: 3rem;
  }
  .projects h3 {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .projects h4 {
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-proyecto {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  header {
    position: static;
  }
  nav {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .secciones {
    width: 100%;
    justify-content: center;
  }
  .secciones a {
    font-size: 13.5px;
  }
  .presentacion-personal {
    /* border: 1px solid darkgreen; */
    width: 100%;
    height: 30rem;
    top: 3rem;
    align-items: flex-start;
    flex-direction: column;
  }
  .nombre-info {
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .hello {
    font-size: 2rem;
  }
  .frontend {
    font-size: 1.8rem;
  }
  .extra-info {
    font-size: 1.3rem;
  }
  .circulo-grande {
    height: 250px;
    width: 250px;
    top: 15rem;
    right: 20rem;
  }
  .circulo-foto {
    top: 15rem;
    width: 180px;
    height: 180px;
    top: 0;
    left: 19rem;
  }
  .projects {
    width: 60%;
    margin-top: 6rem;
  }
  .projects h3 {
    font-size: 1.5rem;
    margin-left: 5px;
    margin-right: 5px;
  }
  .projects h4 {
    font-size: 1.2rem;
    margin: 0%;
    margin-top: 10px;
    margin-left: 5px;
    margin-right: 5px;
  }
  .card-proyecto {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}
@media (min-width: 1024px){
  .im-portafolio {
    font-size: 1.5rem;
  }
  .hello {
    font-size: 2.5rem;
  }
  .frontend {
    font-size: 1.8rem;
  }
  .extra-info {
    font-size: 1.3rem;
  }
  .circulo-grande {
    width: 350px;
    height: 350px;
    top: 3rem;
  }
  .circulo-foto {
    width: 180px;
    height: 180px;
    left: 2rem;
  }
}
